@media all and (min-width: 635px) {
	header {
		height: 200px;
		padding: 5px 0 0 0;
	}
	.ifpi-logo {
		width: 350px;
		margin: 20px auto 20px auto;
	}
	.subtitulo-site {
		font-size: 23pt;
	}


	.formulario-busca, .alerta-busca {
		width: 480px;
	}


	.sistema {
		width: 350px;
	}

}

@media all and (max-width: 634px) {

	header {
		height: 200px;
		padding: 50px 0 0 0;
	}
	.ifpi-logo {
		width: 280px;
		margin: 0 auto 30px auto !important;
	}
	.subtitulo-site {
		font-size: 15pt;
	}


	.formulario-busca, .alerta-busca {
		width: 90%;
	}


	.sistema {
		width: 100%;
	}

}

body {
	background-color: #E5FFEB;
}

header {
	background-color: #349650;
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.area-restrita {
	position: fixed;
	font-size: 15pt;
	margin: 10px auto auto calc(100% - 52px);
	display: block;
	width: 250px;
	background-color: #C63921;
	padding: 10px 20px 10px 20px;
	color: white;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	transition: .5s all;
	z-index: 10;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}
.area-restrita:hover {
	margin: 10px auto auto calc(100% - 210px);
	text-decoration: none;
	color: white;
	box-shadow: 0px 5px 5px rgba(0,0,0,.2);
}
.area-restrita i {
	margin-right: 10px;
}

.ifpi-logo {
	display: block;
}
.subtitulo-site {
	background-color: #006E24;
	color: white;
	padding: 10px;
	text-align: center;
	margin-bottom: 0;
}

.formulario-busca {
	margin: auto;
}
.formulario-busca .form-group {
	display: inline-block;
	width: calc(100% - 50px);
}
.formulario-busca button {
	float: right;
}

.alerta-busca {
	display: block;
	margin: 10px auto 10px auto;
}


.sistema {
	padding: 10px;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
	background-color: white;
	margin: 10px auto 10px auto;
}
.sistema-content {
	display: block;
	min-height: 105px;
}
.imagem-sistema {
	width: 100px;
	height: 100px;
	display: block;
	object-fit: cover;
	margin: 0 10px 10px 0;
}
.texto-sistema {
	width: calc(100% - 110px);
	display: block;
	margin: -110px 0 auto auto;
}
.nome-sistema {
	font-size: 15pt;
	font-weight: 600;
	margin: 0;
	width: 100%;
}
.descricao-sistema {
	font-size: 12pt;
	margin: 0;
	font-weight: normal;
	width: 100%;
}
.botoes {
	margin-top: 5px;
}
.botao-sistema {
	display: inline-block;
	margin: 0 0 0 auto;
	width: calc(100% - 123px);
}
.botao-sistema-home {
	display: inline-block;
	margin: 0 0 0 auto;
	width: 100%;
}
.botao-excluir {
	display: inline-block;
	width: 30px;
	margin-top: 1px;
}

.bloco-pagina {
	background-color: white;
	padding: 20px;
}

.imagem-upload {
	width: 100%;
	object-fit: cover;
	display: inline-block;
}
.input-foto {
	display: inline-block;
}
