@media all and (min-width: 400px) {

  .box-login {
		width: 300px;
		margin: 10% auto 10% auto;
	}

}
@media all and (max-width: 399px) {

  .box-login {
		width: 100%;
    padding: 10% 15px 20px 15px;
	}

}


.login {
	width: 100%;
	background-color: white;
	padding: 20px;
}
